.Box{
    border:2px solid black;
    width:450px;
    height: 304px;
    margin-left: 30%;
    margin-top: 15%;
   
    /* margin-bottom: 100px;

    */
    
}
div .imag{
    width:450px;
   
}
 div .Butt{
    font-size:x-large;
    color: white;
    width: 100%;
    height: 53px;
    margin-top: -5px;
  background: linear-gradient(to right, red, orange, yellow);

    /* background-color:goldenrod; */
}  